.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #3e343e;
    padding: 1rem;
    margin: 0 auto;
    max-width: 900px;
    min-height: 100vh;
    color: #fff;
}
